:root {
    --toastify-color-info: theme('colors.primary');
    --toastify-color-success: theme('colors.success');
    --toastify-color-warning: theme('colors.warning');
    --toastify-color-error: theme('colors.danger');
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);

    --toastify-icon-color-info: theme('colors.primary');
    --toastify-icon-color-success: theme('colors.success');
    --toastify-icon-color-warning: theme('colors.warning');
    --toastify-icon-color-error: theme('colors.danger');

    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;

    // Used when no type is provided
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}

.Toastify__toast {
    @apply rounded-xl;
}

.Toastify__toast-theme--light {
    @apply bg-white dark:bg-gray-800 dark:text-gray-100 text-gray-700 text-base font-sans;
}
