.k-editor {
    .k-editor-wrapper {
        @apply bg-gray-100 dark:bg-gray-900 border border-gray-200 dark:border-gray-700 rounded-xl shadow-sm transition-all overflow-y-auto flex flex-col;

        &:focus-within {
            @apply ring-2 ring-inset ring-primary bg-white dark:bg-gray-800;

            .k-editor-menu {
                @apply border-gray-700 bg-transparent dark:bg-transparent;

                .k-button.active {
                    @apply text-white bg-gray-700 opacity-100;
                }

                .k-button:not(.active) {
                    @apply text-gray-700 dark:text-white;
                }
            }
        }

        .k-editor-content {
            @apply p-5 flex-1 text-gray-700 dark:text-white;

            * {
                font-size: 14px;
            }

            p,
            div,
            span {
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
            }

            p {
                margin-bottom: 0.5rem;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight: bold;
            }

            h1 {
                font-size: 32px;
            }

            h2 {
                font-size: 30px;
            }

            h3 {
                font-size: 26px;
            }

            h4 {
                font-size: 24px;
            }

            h5 {
                font-size: 20px;
            }

            h6 {
                font-size: 18px;
            }

            & > div {
                height: 100%;
            }

            .ProseMirror {
                @apply outline-none h-full;

                p.is-editor-empty:first-child::before {
                    content: attr(data-placeholder);
                    @apply text-gray-200 float-left h-0 pointer-events-none;
                }

                img {
                    display: inline-block;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .k-editor-mandatory {
                @apply p-2 -mx-2 border border-transparent border-dashed hover:border-gray-300 dark:hover:border-gray-700 rounded-xl mt-4 relative;

                &:hover::before {
                    content: 'Contenido obligatorio';

                    @apply text-gray-500 flex items-center justify-center font-bold absolute top-0 left-0 w-full h-full bg-white dark:bg-gray-900 bg-opacity-90 rounded-xl cursor-not-allowed;
                }
            }
        }

        .k-editor-menu {
            @apply z-0 flex flex-row border-t-2 border-gray-200 border-dashed py-2 mx-5 gap-1 sticky bottom-0 left-0 select-none dark:border-gray-700 overflow-x-scroll bg-gray-100 min-h-[56px] dark:bg-gray-900;

            .k-button.active {
                @apply text-white bg-gray-700 border-gray-700 opacity-60;
            }

            .k-button:not(.active) {
                @apply bg-transparent text-gray-400 border-gray-400 border-transparent;
            }
        }

        .k-editor-bubble {
            @apply flex flex-row gap-1;

            .k-button.active {
                @apply text-white bg-primary;
            }

            .k-button:not(.active) {
                @apply bg-transparent text-white hover:text-primary border-transparent;
            }
        }

        .tippy-box {
            @apply bg-gray-900 dark:text-white;

            .tippy-arrow:before {
                @apply text-gray-900;
            }
        }
    }

    /// /////////////////
    /// ERROR
    /// /////////////////

    &.k-editor-danger {
        .k-editor-wrapper {
            @apply ring-2 ring-danger focus:ring-danger ring-inset;
        }

        label {
            @apply text-danger;
        }
    }

    &.k-editor-success {
        .k-editor-wrapper {
            @apply ring-2 ring-success focus:ring-success ring-inset;
        }

        label {
            @apply text-success;
        }
    }

    &.k-editor-warning {
        .k-editor-wrapper {
            @apply ring-2 ring-warning focus:ring-warning ring-inset;
        }

        label {
            @apply text-warning;
        }
    }
}

/// /////////////////
/// FULLPAGE
/// /////////////////

.k-editor.k-editor-fullpage {
    @apply fixed top-0 left-0 right-0 bottom-0 z-50 p-10 bg-black/50 backdrop-blur-xl text-white flex flex-col;

    .k-editor-wrapper {
        @apply w-full flex-1 shadow-2xl;
    }
}
